<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="cclearn"
   name="CC Learn Tagging Plugins"
   version="0.0.2"
   provider-name="learn.creativecommons.org">

   <runtime>
      <!-- As defined in build.xml this plugin will end up bundled as recommended.jar -->
      <library name="cclearn.jar">
         <export name="*"/>
      </library>
   </runtime>


   <!-- The TripleStoreIndexer extends the IndexingFilter in order to add
   		metadata stored in the Triple Store to the Lucene index.
     -->

   <extension id="org.creativecommons.learn.triplestoreindexer"
              name="Triple Store Indexer"
              point="org.apache.nutch.indexer.IndexingFilter">
      <implementation id="TripleStoreIndexer"
                      class="org.creativecommons.learn.TripleStoreIndexer" />
   </extension>

   <!-- The TagQueryFilter is called when you perform a search; it
        runs a search for the query against the OER Cloud tags for the
        document.

	In order to get add this to the list of filters that gets run
	by default, you have to use "fields=DEFAULT". 
     -->   

   <extension id="org.creativecommons.learn.tagsearcher"
              name="Subject Search Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="TagQueryFilter"
                      class="org.creativecommons.learn.TagQueryFilter">
        <parameter name="fields" value="tag"/>
      </implementation>
   </extension>

   <extension id="org.creativecommons.learn.licensesearcher"
              name="License URL Search Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="LicenseUrlQueryFilter"
                      class="org.creativecommons.learn.LicenseQueryFilter">
        <parameter name="fields" value="license"/>
      </implementation>
   </extension>

   <extension id="org.creativecommons.learn.curatorsearcher"
              name="Curator Search Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="CuratorQueryFilter"
                      class="org.creativecommons.learn.CuratorQueryFilter">
        <parameter name="raw-fields" value="curator"/>
      </implementation>
   </extension>

   <extension id="org.creativecommons.learn.languagesearcher"
              name="Langauge Search Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="LanguageFilter"
                      class="org.creativecommons.learn.LanguageFilter">
        <parameter name="fields" value="language"/>
      </implementation>
   </extension>

   <extension id="org.creativecommons.learn.educationlevelsearcher"
              name="Education Level Search Filter"
              point="org.apache.nutch.searcher.QueryFilter">
      <implementation id="EducationLevelFilter"
                      class="org.creativecommons.learn.EducationLevelFilter">
        <parameter name="fields" value="education_level"/>
      </implementation>
   </extension>
</plugin>
